.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    width: 20%;
    height: 30%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 2%;
}

.card:hover {
    box-shadow: 0 3px 15px rgba(45, 71, 214, 0.5);
}

#charcontainer {
    display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 10px auto;
}

body
{
	background-image: url(background.jpg);
}

#search {
    border-radius: 20px;
}

.details {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    cursor: pointer;
    background: linear-gradient(to right,rgba(30, 173, 192, 0.74), rgba(26, 114, 117, 0.301))
}

